body {
  width: 100%;
  height: 100%;
  margin: 0;
}

h1 {
  text-align: center;
}

img {
  display: block;
  margin: auto;
  height: auto;
}

nav {
  width: fit-content;
  margin: auto;
}

a {
  padding-left: 10px;
  padding-right: 10px;
  background: gray;
}

figcaption {
  text-align: center;
}

figure~p {
  width: 800px;
  margin: 0 auto 10px auto;
}

div {
  float: left;
  width: 25%;
  text-align: center;
  background: red;
}